---
import { getCollection } from 'astro:content';

import { ButtonLink } from "../../components/button-link";
import Layout from "../../components/layout.astro";
import { pageTitle } from '../../site';

const thoughts = (await getCollection('thoughts'))
  .filter(({ data }) => data.published)
  .sort((a, b) => new Date(b.data.createdAt).getTime() - new Date(a.data.createdAt).getTime());
---

<Layout title={pageTitle('Thoughts')}>
  <h1>Thoughts</h1>
  {thoughts.map(({ data }) => (
    <div class="card p-5">
      <a href={`/thoughts/${data.slug}`}>
        <h3 class="transition hover:text-emerald-400">{data.title}</h3>
      </a>
      <div class="text-tertiary mt-2 text-xs font-medium uppercase tracking-wider">
        <span>{data.createdAt}</span> · <span>{data.readingTime}</span>
      </div>
      <div class="text-secondary my-3">{data.excerpt}</div>

      <ButtonLink href={`/thoughts/${data.slug}`} showArrowIcon={true}>Read More</ButtonLink>
    </div>
  ))}
</Layout>
